# Ignore the virtual environment folder and only save requirements.txt
env/

# Ignore the development database
db.sqlite3

# Ignore python bytecode
.pyc

# Ignore pycache
*/__pycache__/
*__pycache__*
